global:
  defaultStorageClass: "csi-hostpath-sc"
 # kibanaEnabled: true

master:
  annotations: 
    backup.velero.io/backup-volumes: "data"
  podAnnotations:
    backup.velero.io/backup-volumes: "data"
  heapSize: 256m
  masterOnly: false
  replicaCount: 1
  podSecurityContext:
    enabled: true
    fsGroupChangePolicy: Always
    sysctls: []
    supplementalGroups: []
    fsGroup: 0
  ## Configure Container Security Context
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod
  ## @param master.containerSecurityContext.enabled Elasticseacrh master-eligible container securityContext
  ## @param master.containerSecurityContext.seLinuxOptions [object,nullable] Set SELinux options in container
  ## @param master.containerSecurityContext.runAsUser User ID for the Elasticseacrh master-eligible container
  ## @param master.containerSecurityContext.runAsGroup Group ID for the Elasticseacrh master-eligible container
  ## @param master.containerSecurityContext.runAsNonRoot Set Elasticsearch master-eligible container's Security Context runAsNonRoot
  ## @param master.containerSecurityContext.privileged Set Elasticsearch master-eligible container's Security Context privileged
  ## @param master.containerSecurityContext.allowPrivilegeEscalation Set Elasticsearch master-eligible container's Security Context allowPrivilegeEscalation
  ## @param master.containerSecurityContext.readOnlyRootFilesystem Set container's Security Context readOnlyRootFilesystem
  ## @param master.containerSecurityContext.capabilities.drop List of capabilities to be dropped
  ## @param master.containerSecurityContext.seccompProfile.type Set container's Security Context seccomp profile
  ##
  containerSecurityContext:
    enabled: true
    seLinuxOptions: {}
    runAsUser: 0
    runAsGroup: 0
    runAsNonRoot: false
    privileged: true
    allowPrivilegeEscalation: true
    readOnlyRootFilesystem: false
data:
  replicaCount: 0
coordinating:
  replicaCount: 0
ingest:
  replicaCount: 0
# security:
#   enabled: true
#   elasticPassword: "Password"
#   tls:

#     ## @param security.tls.autoGenerated Create self-signed TLS certificates.
#     ## NOTE: If autoGenerated certs are enabled and a new node type is enabled using helm upgrade, make sure you remove previously existing Elasticsearch TLS secrets.
#     ## Otherwise, the new node certs won't match the existing certs.
#     ##
#     autoGenerated: true

# # assumes global.kibanaEnabled=true
# kibana:
#   updateStrategy:
#     type: Recreate
#   podAnnotations:
#     backup.velero.io/backup-volumes: kibana-data
#   elasticsearch:
#     security:
#       auth:
#     ## @param elasticsearch.security.auth.enabled Set to 'true' if Elasticsearch has authentication enabled
#     ##
#         enabled: true
#         createSystemUser: true
#         kibanaPassword: "Password"
#         elasticsearchPasswordSecret: "elasticsearch"
#       tls:
#         enabled: true
#         existingSecret: "elasticsearch-master-crt"
#         usePemCerts: true

volumePermissions:
  ## @param volumePermissions.enabled Enable init container that changes volume permissions in the data directory (for cases where the default k8s `runAsUser` and `fsUser` values do not work)
  ##
  enabled: true